<div>
  <div class="content">

    <h2>Our Story</h2>
    <h3>Roll-Out: Getting You Places Since 2017</h3>
    <p></p>
    <img src="image/SUV.jpg" alt="SUV's and mountain range">

    <ul class="crossList">
      <li><h4>The Story</h4><p>It all began in 2016, at Langara on a rainy day. A student named Rich was sick and tired of waiting for packed buses and wished there was an economical solution for personal transport. After searching through endless sites, he concluded that there isn't a company that fit his dynamic lifestyle. Thus Roll-Out was born. </p></li>
      <li><h4>Values</h4><p>Rich's vision for his company was built on principles that still guide what we do:<br> - Provide vehicles that fit into everyone's lifestyle.<br>- Make sure each vehicle is able to go that extra mile.<br>- Provide customer serivce that goes above and beyond.</p></li>
      <li><h4>Availability</h4><p>Our popularity and quality speaks for itself by the growth of our fleet and network. With over 25 vehicles of all types scattered throughout Metro Vancouver, we are one of the most versitle car retnal companies around.</p></li>
    </ul>

	<h3>About Richard</h3>

	<div class="card">
		<img class="portrait" src="image/me.jpg" alt="me">
		<div class="info">
			<h4>Who Am I?</h4>
			 <p>My name is Richard and I'm a student and young entrepreneur. I am basically a classic Vancouvrite that lives an active lifestyle and post all of it on instagram to make myself feel special. As most Vancouvrite's I did most of my commuting on the transit system becuase I could not afford to live and own a vehicle. After a couple of years of transit and many days waiting for buses in the pouring rain and cold, I decided that I needed an alternative. After a bit of research, I've concluded that there isn't a car rental company that is easy to use and provides a ride range of vehicle types to fit my adventurous lifestyle. So I decided to make one...... </p>
		</div>
	</div>

  </div>
</div>
