<div class="sideways">
	<div class="vNav">
    <ul>
        {% for item in menu %}
        <li><a href='{{item[1]}}'>{{item[0]}}</a></li>
        {% endfor %}
    </ul>
	</div>

  <div class="content">
    <h2>{{type}}</h2>
    <table class="pTable">
        <tr>
            {% for t in th %}
            <th>{{t}}</th>
            {% endfor %}
        </tr>
        {% for p in product %}
        <tr>
            {% for this in p %}
            {% autoescape false %}
            <td>{{this}}</td>
            {% endautoescape %}
           {% endfor %}
        </tr>
        {% endfor %}

    </table>
  </div>
</div>
