<div class="content">

  <h2>Looking for a Ride?</h2>
  <img src="image/homepic.jpg" alt="SUV's in front of mountains" >
  <h3>Get Where You Need To Go With Us!</h3>
  <ul class="crossList">
      <li><h4>Choices</h4><p>We carry a wide selection of vehicles to choose from to suit your everday needs.</p></li>
      <li><h4>Convenience</h4><p>With cars throughout the city, you won't have to search long for your next ride.</p></li>
      <li><h4>Cutting-Edge</h4><p>Our system is quick and efficient, so you can get where you need to be faster.</p></li>
  </ul>

  <h2>Now Serving:</h2>
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d83327.3577582379!2d-123.19394341241967!3d49.25782631999733!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x548673f143a94fb3%3A0xbb9196ea9b81f38b!2sVancouver%2C+BC!5e0!3m2!1sen!2sca!4v1511271293596" width="600" height="450" frameborder="0" allowfullscreen></iframe>
</div>
