<div class="content">
  <form class="form-signin" method="POST">
    <h2>Please Login</h2>
    <table class="sign">
      <tr>
       <td><label class="input-group-addon" id="basic-addon1">Username: </span></td>
       <td><input type="text" name="username" class="form-control" placeholder="Username" required></td>
     </tr>
     <tr>
         <td><label for="inputPassword" class="sr-only">Password:</label></td>
         <td><input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required></td>
    </tr>
    <tr>
         <td></td>
         <td><button class="logB" type="submit">Login</button></td>
    </tr>
  <!--  <tr>
         <td></td>
         <td><a class="logB" href="register.php">Register</a></td>
    </tr>-->
  </table>
  </form>
</div>
